{# myApp/templates/password_reset_complete_custom.html #}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Redefinida!</title>
    <link rel="stylesheet" href="{% static 'myApp/css/esqueci_senha_email.css' %}">
</head>
<body>
    <div class="container">
        <div class="formulario-login">
            <h2>Sua Senha Foi Redefinida!</h2>
            <p>Sua senha foi alterada com sucesso. Você já pode fazer login com sua nova senha.</p>
            <p><a href="{% url 'login' %}">Fazer Login</a></p>
        </div>
    </div>
</body>
</html>