{# myApp/templates/password_reset_done_custom.html #}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail de Redefinição Enviado</title>
    <link rel="stylesheet" href="{% static 'myApp/css/esqueci_senha_email.css' %}">
</head>
<body>
    <div class="container">
        <div class="formulario-login">
            <h2>E-mail de Redefinição de Senha Enviado</h2>
            <p>Se uma conta com o e-mail fornecido existir, você receberá instruções para redefinir sua senha em breve.</p>
            <p>Verifique sua caixa de entrada e, se necessário, a pasta de spam.</p>
            <p><a href="{% url 'login' %}">Voltar para o Login</a></p>
        </div>
    </div>
</body>
</html>