{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Perfil Usuário - {{ user.username|default:'Convidado' }}</title>

    <link rel="stylesheet" href="{% static 'myApp/css/perfil.css' %}" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" />
</head>

<body>
    <div class="retangulo-topo">
        <button class="botao-voltar" onclick="history.back()">← Voltar</button>
    </div>
 
    <div class="perfil-container">
        <div class="foto-perfil">

            <!-- Foto de perfil -->
            <img src="{{ user.cliente.foto.url }}" alt="Foto de perfil do usuário" />
            <h3>{{ user.get_full_name|default:user.username }}</h3>
            
            <!-- Novo formulário para trocar a imagem -->
            <form action="{% url 'trocar_imagem_perfil' %}" method="POST" enctype="multipart/form-data" class="form-trocar-imagem">
                {% csrf_token %}
                <label for="nova_imagem" class="botao-editar">Escolher nova foto</label>
                <input type="file" name="nova_imagem" id="nova_imagem" accept="image/*" style="display: none;" onchange="this.form.submit()">
            </form>

        </div>

        <div class="informacoes-perfil">
            <div class="campo">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" value="{{ user.username }}" readonly />
            </div>

            <div class="campo">
                <label for="email">Email</label>
                <input type="email" id="email" value="{{ user.email }}" readonly />
            </div>

            <div class="campo">
                <label>Senha</label>
                <input type="password" value="********" readonly />
                <a href="{% url 'change_password' %}" class="botao-editar">Trocar Senha</a>
            </div>

            </div>
    </div>

    <div class="retangulo-baixo">
        <button class="link-footer" onclick="window.location.href='#'">Suporte</button>
        <button class="link-footer" onclick="window.location.href='#'">Termos de Uso</button>
        <button class="link-footer" onclick="window.location.href='#'">Política de Privacidade</button>
    </div>
    
</body>
</html>